<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>E-Learning Activation Code</title>
</head>
<style type="text/css">
    body{
        margin: 0;
        padding: 0;
        min-width: 100%;
        font-family: Arial,sans-serif;
        font-size: 16px;
        line-height: 1.5;
        background-color: #FAFAFA;
        color: #222222;
    }
    a{
        color: #222222;
        text-decoration: none;
    }
    h1{
        font-size: 24px;
        font-weight: 700;
        line-height: 1.25;
        margin-top: 0;
        margin-bottom: 15px;
        text-align: center;
    }

</style>
<body>


</body>
</html>
