<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>E-Learning Activation Code</title>
</head>
<style type="text/css">
    body{
        margin: 0;
        padding: 0;
        min-width: 100%;
        font-family: Arial,sans-serif;
        font-size: 16px;
        line-height: 1.5;
        background-color: #FAFAFA;
        color: #222222;
    }
    a{
        color: #222222;
        text-decoration: none;
    }
    h1{
        font-size: 24px;
        font-weight: 700;
        line-height: 1.25;
        margin-top: 0;
        margin-bottom: 15px;
        text-align: center;
    }
    table td{
        vertical-align: top;
    }
/*    Layout */
.email-wrapper{
    max-width: 600px;
    margin: 0 auto;
}
.email-body{
    padding: 24px;
    background-color: #ffffff;
}
.email-footer{
    background-color: #f6f6f6;
    padding: 24px;
}
.button{
    display: inline-block;
    background-color: aqua;
    color: #ffffff;
    font-size: 16px;
    font-weight: 700;
    text-align: center;
    text-decoration: none;
    padding: 12px 24px;
    border-radius: 4px;
}

</style>
<body>
<div class="email-wrapper">
    <div class="email-header">
        <h1>Welcome to LMS</h1>
    </div>
    <div class="email-body">
        <p>hello, <%=user.name%>,</p>
        <p>Thank you for registration with LMS, please use the following code for activation your account. Activation Code:</p>
        <p><%= activationCode%></p>
    </div>
    <div class="email-footer">
        <p>if you have any questions, please send a mail to <a href="mailto:rakib251193@gmail.com">rakib251193@gmail.com</a></p>
    </div>

</div>

</body>
</html>
